use asdf
asdf_has docker-compose || asdf plugin add docker-compose https://github.com/virtualstaticvoid/asdf-docker-compose.git
asdf_has java || asdf add plugin java
asdf_has maven || asdf add plugin maven
asdf_has python || asdf add plugin python
asdf install

layout python-venv

use pipx
has pre-commit \
  || pipx install pre-commit
has detect-secrets \
  || pipx install detect-secrets

use pre-commit

watch_file .tool-versions

export JAVA_HOME="$(dirname "$(dirname "$(expand_path "$(asdf which java)" "/")")")"
