use asdf
asdf_has maven || asdf add plugin maven
asdf_has docker-compose || asdf add plugin docker-compose https://github.com/virtualstaticvoid/asdf-docker-compose
asdf install

layout python-venv

use pipx
has pre-commit \
  || pipx install pre-commit
has detect-secrets \
  || pipx install detect-secrets

use pre-commit
