<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/test.log</file>
        <append>false</append>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.weareadaptive.nexus.casc" level="DEBUG"/>
    <logger name="org.apache.http" level="DEBUG"/>
    <logger name="org.apache.http.wire" level="ERROR"/>
    <!-- <logger name="org.apache.http.impl.conn" level="DEBUG"/> -->

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
